@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.main_header {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  