@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body{
  background-color: #697565;
}
.main_header {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 4vw;
    font-style: normal;
    text-align: center;
    color: bisque;
    background-color: #181c14;
    margin-bottom: 0px;
    padding-bottom: 1vw;
}
  
  .mainContainer{
  width: 70%;
  max-width: 1800px;
  margin: 0% auto; 
  background-color: #758694;
  
  
  /* text-align: center;  */
  } 
  .limit{
    text-align: center;
    color: rgb(245, 217, 217);
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1vw;
    
  }
  .limit-box{
    background-color: #181c14;
    margin: 0;
    padding: 2vw;
  }
  @media(max-width: 600px){
    .mainContainer{
      width: 100%;
      margin: 0;
      
    }
    body{
      margin: 0;
    }
  }
  .submitButton{
    background-color: rgb(45, 56, 119);
    width: 9vw;
    font-size: 2vw;
    color: white; 
    animation: smooth;
    margin-bottom: 3vw;
  }
  .submitButton:hover{
    transform: scale(1.1);
    background-color: rgb(30, 32, 58);
  }
  .sub-container{
    
    background-color: #3c3D37;
    font-size: 2.5vw;
  color: #efdfcc;
  text-align: center;
  
  }
  #container1st{
    margin-top: 0;
  }
  .operation-title, .input-field, .format{
    margin-left: 3%;
  }
  .input-field{
    width: 30vw;
    height: auto;
    max-width: 500px;
    margin-bottom: 6%;
  }
  .operation-title{
    padding-top: 3%;
  }
  .title1{
    margin-top: 0;
  }